<!--COMMENT SECTION START-->


  <!--Display comments by looping through them-->
  
  <div class="row">
    <div class="col-md-12">
      <!--Printing the comment-->
      <p><%= comment.text %></p>

      <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
        <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
		<!--Edit button used for collapsing the edit comment form-->
		  <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
        	Edit</a>

      <!--Edit comment form-->
      <div class="collapse" id="collapseEdit<%= comment._id %>">
        <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
          <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
          <form id="<%= comment._id %>" action="/foods/<%= food._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-warning btn-sm">Edit comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
            </div>
          </form>
        </div>
      </div>
		
		<script style = "text/javascript">
		$('comment._id').on('submit', function(e) {
			// $(this).removeData('bs.modal');
		  $('food._id').modal('show');
		   e.preventDefault();
		});	
		</script>
				<% } %>
		
    </div>
</div>

