<% include partials/header %>

<h1>
	Index test!
</h1>

<% blogs.forEach(function(blog){ %> <!-- loop through each blog post -->
	<div>
		<h2><%=blog.title%></h2>
		<img src = " <%= blog.image %>" >
		<span> <%= blog.created %></span>
		<p> <%= blog.body.substring(0, 100) %>... </p> <!-- substring(0,n) show partial content -->
		<a href= "/blogs/<%=blog._id %>">READ MORE</a>
	</div>	
<% }) %>

<% include partials/footer %>